<head>
    <title>Add Note</title>
</head>
<section style="margin: 4% 8% 2% 8%;">
    <form action="/add" class="display" method="POST" enctype="application/x-www-form-urlencoded">
        <h3 style="color: red;">{{message}}</h3>
        <input type="text" placeholder="Title" name="title" id="title" autocomplete="off">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Somethings..."></textarea>
        <button type="submit" class="success"><i class="fas fa-check"></i></button>
    </form>
</section>