    <head>
        <title>Welcome to Nother..</title>
    </head>
    <nav class="nav">
        <a href="log-reg.html" class="logo">Nother..</a>
        <ul>
            <li><a href="#login" class="reg">Login</a></li>
            <li> | </li>
            <li><a href="#register" class="reg">Register</a></li>
        </ul>
    </nav>
    <section class="content">
        <img src="/img/notepad.png" class="banner-img" alt="">
        <div class="bt-context">
            <h1 class="banner-text textfont">Your Private Notepad<br>and more..</h1>
            <a href=""></a>
        </div>
    </section>
    <section>
        {{#each errors}}
        <div class="alert">
            <span class="closebtn">&times;</span>
            <strong>Error!</strong> {{message}}
        </div>
        {{/each}}
            <div class="kutu">
                <div class="popup">
                    <div class="popup-card">
                        <a name="login"></a>
                        <br><br><br>
                        <form action="/login" method="POST" class="popup-card">
                            <h1>Sign In</h1>
                            <input type="email" name="email" id="username" placeholder="E-mail">
                            <input type="password" name="password" id="password" placeholder="Password">
                            <button type="submit">Sign In</button>
                        </form>
                    </div>
                </div>
                <div class="cizgi"></div>
                <div class="popup">
                    <div class="popup-card">
                        <br><br>
                        <a name="register"></a>
                        <form action="/register" method="POST" class="popup-card">
                            <h1>Sign Up</h1>
                            <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" value="{{username}}">
                            <input type="email" name="email" id="email" placeholder="E-mail" value="{{email}}">
                            <input type="password" name="password" id="password" placeholder="Password">
                            <button type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <ul class="links">
                <li><a href="https://twitter.com/kazethsini" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/tutkuucan34" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://github.com/tutkuucan" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/tutku-u%C3%A7an-610170195/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
            <br><br><br><br>
    </section>
